.button{
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    margin: 10px;
    cursor: pointer;
}
.input-main{
    display: block;
    width: 400px;
    padding: 10px;
    border: 1px solid #000;
}